#form-oprec {
    .form {
        margin: 100px auto 20px;
        padding: 0 2rem 2rem;
        width: 800px;
        max-width: 100%;
        background: linear-gradient(
            151.1deg,
            rgba(168, 125, 29, 0.58) -22.22%,
            $color-black 112.01%
        );
        border-radius: 25px;
        .kingsman-logo {
            margin: -45px auto 30px;
            width: 180px;
        }
        &-label {
            font-family: $font-schoolbook;
            font-size: 1.25rem;
            color: $color-white;
        }
        &-control,
        &-select {
            border: 1px solid #f2c664;
            box-sizing: border-box;
            border-radius: 10px;
            background: transparent;
            color: inherit;
            &:active,
            &:focus {
                background: transparent;
                color: inherit;
            }
        }
        &-button {
            background: $color-gold;
            border-radius: 7px;
            font-family: $font-schoolbook;
            font-size: 1.25rem;
            color: $color-white;
            padding: 0.3rem 2rem;
            border: none;
        }
    }
}
