@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
    font-family: "Schoolbook";
    src: url(../fonts/Century-Schoolbook.TTF);
}

$font-poppins: "Poppins", sans-serif;
$font-schoolbook: "Schoolbook";

$color-gold: #a87d1d;
$color-black: #000;
$color-white: #fff;
